## Basics of R

### Help

In [1]:
# Help function: this shows for us how to use a command or others informations.

# help(mean) or ?mean

### Expressions

In [2]:
# Assignment of values

x <- 2 #We use <- to assign values to x 
y <- c(2, 4, 6) # We use c() function to concatenate values

x #This shows x
y #This shows y

[1] 2

[1] 2 4 6

### Numbers

In [3]:
r <- 1 # double precision real number
i <- 1L # integer number
c <- 1i # complex number

p <- Inf #Inf = infinite

q <- NaN # NaN is a unidentified value number

###  Attributes

In [4]:
# Names, dimnames
# Dimenssion
# Class
# Lenght
# Other user-defined attributes

#attributes() function: to acess attributes

#example

attributes(mtcars)

#specific attributes
names(mtcars) 
row.names(mtcars)
class(mtcars)

$names
 [1] "mpg"  "cyl"  "disp" "hp"   "drat" "wt"   "qsec" "vs"   "am"   "gear"
[11] "carb"

$row.names
 [1] "Mazda RX4"           "Mazda RX4 Wag"       "Datsun 710"
 [4] "Hornet 4 Drive"      "Hornet Sportabout"   "Valiant"
 [7] "Duster 360"          "Merc 240D"           "Merc 230"
[10] "Merc 280"            "Merc 280C"           "Merc 450SE"
[13] "Merc 450SL"          "Merc 450SLC"         "Cadillac Fleetwood"
[16] "Lincoln Continental" "Chrysler Imperial"   "Fiat 128"
[19] "Honda Civic"         "Toyota Corolla"      "Toyota Corona"
[22] "Dodge Challenger"    "AMC Javelin"         "Camaro Z28"
[25] "Pontiac Firebird"    "Fiat X1-9"           "Porsche 914-2"
[28] "Lotus Europa"        "Ford Pantera L"      "Ferrari Dino"
[31] "Maserati Bora"       "Volvo 142E"

$class
[1] "data.frame"

 [1] "mpg"  "cyl"  "disp" "hp"   "drat" "wt"   "qsec" "vs"   "am"   "gear"
[11] "carb"

 [1] "Mazda RX4"           "Mazda RX4 Wag"       "Datsun 710"
 [4] "Hornet 4 Drive"      "Hornet Sportabout"   "Valiant"
 [7] "Duster 360"          "Merc 240D"           "Merc 230"
[10] "Merc 280"            "Merc 280C"           "Merc 450SE"
[13] "Merc 450SL"          "Merc 450SLC"         "Cadillac Fleetwood"
[16] "Lincoln Continental" "Chrysler Imperial"   "Fiat 128"
[19] "Honda Civic"         "Toyota Corolla"      "Toyota Corona"
[22] "Dodge Challenger"    "AMC Javelin"         "Camaro Z28"
[25] "Pontiac Firebird"    "Fiat X1-9"           "Porsche 914-2"
[28] "Lotus Europa"        "Ford Pantera L"      "Ferrari Dino"
[31] "Maserati Bora"       "Volvo 142E"

[1] "data.frame"

### Classes

In [12]:
#Atomic classes
 # Numeric
    class(r) #real number

 # Integer
    class(i) #integer

 # Complex
    z = 1 + 1i #complex number
    class(z)

 # Logical
    class(2 > 1) #logical expressions

 # Character
    w <- "word"
    class(w) #sequence of characters

#Check classes:

is.logical(z)

is.character(w)

#Convertion:

class(as.numeric(i)) #as.numeric(i) converts i in numeric

[1] "numeric"

[1] "integer"

[1] "complex"

[1] "logical"

[1] "character"

[1] FALSE

[1] TRUE

[1] "numeric"

### Vectors

In [15]:
v <- vector("numeric", 5) #empty vector
co <- c(1, 1.2, 50)
ig <- 1:10 #integers

c(v, co) #combining vectors

#index

co[2]
co[4]

[1]  0.0  0.0  0.0  0.0  0.0  1.0  1.2 50.0

[1] 1.2

[1] NA

### Arithmetics

In [12]:
a <- c(2, 3, 5, 7)
b <- c(1, 2, 3, 4)

2 * a    
a * b
a / b
a + b
a - b

[1]  4  6 10 14

[1]  2  6 15 28

[1] 2.000000 1.500000 1.666667 1.750000

[1]  3  5  8 11

[1] 1 1 2 3